@using MagistriMVC.ViewModels;
@model LoginVM
<h1>Login</h1>
<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        Remember me? <input type="checkbox" asp-for="Remember" />
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
</form>
<p>&nbsp;</p>
<h2>School Information System</h2>
<p>This application is a simulation of a system which manages records of students, teachers, subjects and grades. Users can log into the application and are assigned different roles. Each role has different user rights.</p>

<p>The Administrator has the privilege to edit roles, users, students and subjects information. Login - username: Administrator, password: Administrator1</p>

<p>The Teacher has the privilege to edit students, subjects and grades. Login - username: Teacher, password: Teacher1</p>
